
<!-- views/users/show.html.erb -->

<div class="jumbotron jumbotron-fluid align-items-center" style="background-color: #46B6FF; height: 80vh; margin-bottom: 0px;">
  </br>
  </br>
  </br>
  <div class="container">
    <div class="row ">
      <div class="col-sm align-items-center">
        <%=image_tag("usr.png", style: 'height: 30vh;')%>
      </div>
      <div class="col-sm">
        <h1 class="display-1 text-white"><%= @user.username %></h1>
        <h3 class="display-4 textiwhite"><%=@user.points %> Points</h3>

        <% if @user == current_user %>
          <%= link_to 'Add Activity', new_user_activity_path, class: 'btn btn-success' %>
        <% end %>
      </div>
      <div class='col-sm'>
        <br/>
        <h3 class="display-4 text-center text-white">Level <%= @user.level.level %> </h3>
        <hr>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= @user.progress %>" aria-valuenow=<%= @user.points %> aria-valuemin=<%= @user.level.min_score %> aria-valuemax=<%= @user.level.max_score %>></div>
        </div>
        <hr>
        <em><p class='text-white text-center'><%= @user.points %>/ <%= @user.level.max_score %></p></em>
      </div>
    </div>
  </div>

</div>

<div class="jumbotron jumbotron-fluid align-items-center" style="height: 100%; margin-top: 0px;">
  </br>
  </br>
  </br>
  <div class="container">
    <div class="row ">
      <div class="col-sm align-items-center">
      </div>
      <div class="col-sm">
      </div>
      <div class='col-sm'>
      </div>
    </div>
  </div>
</div>






