<div class="jumbotron jumbotron-fluid align-items-center" style="background-color: #46B6FF; height: 80vh; margin-bottom: 0px;">
  </br>
  </br>
  </br>
  <div class="container">
    <div class="row ">
      <div class="col-sm align-items-center">
      </div>
      <div class="col-sm">

        <div class="card text-center" >

          <div class="card-body">
            <h5 class="card-title h3" style="color: #68767F">Record Activity</h5>

            <%= form_for @user_activity do |f| %>
            <div class="form-group">
              <%= f.label :Activity %>
              <%= f.collection_select :activity_id, Activity.order(:title),:id,:title, include_blank: true, class: 'custom-select' %>
            </div>
            <div class="form-group">
              <%= f.label :User %>
              <%= f.collection_select :user_id, User.order(:username),:id,:username, include_blank: true %>
            </div>
            <%= f.submit "Create", class: "btn btn-primary" %>
            <% end %>
            </br>
          </div>
          </br>
        </div>
      </div>
      <div class='col-sm'>
      </div>
    </div>
  </div>

</div>

